body {
    background-color: #011833;
    color: #7FDBFF;
    font-family: Arial;
}

h1 {
    text-align: center;
}

.selector-container {
    padding-left: 50px;
    padding-right: 50px;
}

.query-container {
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    background-color: #7FDBFF;
    color: #011833;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.list-container {
    height: 600px;
    padding: 5px;
    margin: 10px;
    overflow: scroll;

}

.slider-container{
    margin-left: 50px;
    margin-right: 50px;
}

.profile-container {
    height: 400px;
}

.language-plot-container {
    position: relative;
    float: right;
    width: 400px;
    height: 400px
}

.info-list {
    margin-left: 50px;
    margin-right: 50px;
}

.order-by-container {
    margin-left:50px;
    margin-right:50px;
    width: 200px;
    position: relative;
    float: right;
}

.order-type-container {
    margin-left:50px;
    margin-right:50px;
    width: 200px;
    position: relative;
    float: right;
    clear:right;
}

.search-button-container {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    float: left;
}
